.smart-pagination {
  margin-bottom: 0;
}

.pagination {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-bottom: 0;
}
.smart-pagination li {
  padding: 10px;
}
a {
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  /* color: #ccb9da; */
}

.smart-pagination .active a{
    background-color: aqua;
}

